includes:
	- %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
	paths:
		# From PHPStan 0.12, paths to check are relative to the neon file
		- ../../classes
		- ../../controllers
		- ../../src
		- ../../salusperaquam.php
	reportUnmatchedIgnoredErrors: false
	doctrine:
		ormRepositoryClass: Flavioski\Module\SalusPerAquam\Repository\TreatmentRepository
	ignoreErrors:
		- '#Property TabCore::\$name \(string\) does not accept array.#'
		- '#Call to sprintf contains 0 placeholders, 1 value given.#'
		- '#Result of method Doctrine\\Persistence\\ObjectManager::flush\(\) \(void\) is used.#'
		- '#Strict comparison using === between false and void will always evaluate to false.#'
		- '#Property Flavioski\\Module\\SalusPerAquam\\Form\\Type\\ProductChoiceType::\$productsAttr is never read, only written.#'
		- '#Property Flavioski\\Module\\SalusPerAquam\\Form\\ConfigurationFormDataProvider::\$translator is never read, only written.#'
		- '#Property Flavioski\\Module\\SalusPerAquam\\Form\\ConfigurationFormDataHandler::\$tabRepository is never read, only written.#'
		- '#Return type \(void\) of method Flavioski\\Module\\SalusPerAquam\\Form\\ConfigurationFormDataHandler::.#'
		- '#Cannot call method [a-zA-Z0-9\\_<>]+\(\) on array.#'

	level: 5
