includes:
	- %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
	paths:
		# From PHPStan 0.12, paths to check are relative to the neon file
		- ../../classes
		- ../../controllers
		- ../../src
		- ../../salusperaquam.php
	reportUnmatchedIgnoredErrors: false
	doctrine:
		ormRepositoryClass: Flavioski\Module\SalusPerAquam\Repository\TreatmentRepository
	ignoreErrors:
		- '#Property TabCore::\$name \(string\) does not accept array.#'

	level: 2
