includes:
	- %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
	paths:
		# From PHPStan 0.12, paths to check are relative to the neon file
		- ../../classes
		- ../../controllers
		- ../../src
		- ../../salusperaquam.php
	reportUnmatchedIgnoredErrors: false
	doctrine:
		ormRepositoryClass: Flavioski\Module\SalusPerAquam\Repository\TreatmentRepository
	ignoreErrors:
		- '#Property TabCore::\$name \(string\) does not accept array.#'
		- '#Call to sprintf contains 0 placeholders, 1 value given.#'
		- '#Result of method Doctrine\\Persistence\\ObjectManager::flush\(\) \(void\) is used.#'
		- '#Strict comparison using === between false and void will always evaluate to false.#'
		- '#Strict comparison using === between false and null will always evaluate to false.#'
		- '#Property Flavioski\\Module\\SalusPerAquam\\Entity\\Treatment::\$id is never written, only read.#'
		- '#Property Flavioski\\Module\\SalusPerAquam\\Entity\\TreatmentRate::\$id is never written, only read.#'
		- '#Property Flavioski\\Module\\SalusPerAquam\\Form\\Type\\ProductChoiceType::\$productsAttr is never read, only written.#'
		- '#Property Flavioski\\Module\\SalusPerAquam\\Form\\ConfigurationFormDataProvider::\$translator is never read, only written.#'
		- '#Property Flavioski\\Module\\SalusPerAquam\\Form\\ConfigurationFormDataHandler::\$tabRepository is never read, only written.#'
		- '#Return type \(void\) of method Flavioski\\Module\\SalusPerAquam\\Form\\ConfigurationFormDataHandler::.#'
		- '#Cannot call method [a-zA-Z0-9\\_<>]+\(\) on array.#'
		- '#Call to an undefined method PrestaShopBundle\\Entity\\Repository\\LangRepository::findOneById\(\).#'
		- '#Property Flavioski\\Module\\SalusPerAquam\\Database\\TreatmentSync::.#'
		- '#Parameter \$logger of method Flavioski\\Module\\SalusPerAquam\\Command\\WebServiceAddSaleCommand::.#'
		- '#Parameter \#5 \$default of method Symfony\\Component\\Console\\Command\\Command::addOption\(\) expects#'
		- '#Call to an undefined method PrestaShop\\PrestaShop\\Core\\MailTemplate\\Layout\\LayoutCollectionInterface::.#'
		- '#Property Flavioski\\Module\\SalusPerAquam\\Command\\WebServiceChangeOrderStatusCommand::.#'
		- '#Access to an undefined property PrestaShop\\PrestaShop\\Adapter\\LegacyContext::.#'
		- '#Parameter \#1 \$action of method PrestaShop\\PrestaShop\\Core\\Grid\\Action\\GridActionCollection::add\(\).#'
		- '#Parameter \#1 \$action of method PrestaShop\\PrestaShop\\Core\\Grid\\Action\\GridActionCollectionInterface::add\(\).#'
		- '#Parameter \#1 \$ordersWithFailedToUpdateStatus of class PrestaShop\\PrestaShop\\Core\\Domain\\Order\\Exception\\ChangeOrderStatusException.#'
		- '#Parameter \#2 \$ordersWithFailedToSendEmail of class PrestaShop\\PrestaShop\\Core\\Domain\\Order\\Exception\\ChangeOrderStatusException.#'
		- '#Parameter \#3 \$ordersWithAssignedStatus of class PrestaShop\\PrestaShop\\Core\\Domain\\Order\\Exception\\ChangeOrderStatusException.#'

	level: 5
