{#**
 * Salus per Aquam
 * Copyright since 2021 Flavio Pellizzer and Contributors
 * <Flavio Pellizzer> Property
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/MIT
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to flappio.pelliccia@gmail.com so we can send you a copy immediately.
 *
 * @author    Flavio Pellizzer <flappio.pelliccia@gmail.com>
 * @copyright Since 2021 Since 2021 Flavio Pellizzer
 * @license   https://opensource.org/licenses/MIT
 *#}

{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  {% block treatments_list_panel %}
    <div class="row">
      <div class="col">
        {% include '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with {'grid': treatmentGrid} %}
      </div>
    </div>
  {% endblock %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('../modules/salusperaquam/views/js/treatments.bundle.js') }}"></script>
  <script src="{{ asset('themes/default/js/bundle/pagination.js') }}"></script>
{% endblock %}
